<!doctype html>
<html>
<head>

	<title>Client Login</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<%= link_to image_tag("http://i.imgur.com/ii4SpRt.jpg"), '/index' %>
		</div>
	</div>
	<%= form_for(:session, :url => url_for(:controller => 'sessions', :action => 'createmobilelogin')) do |f| %>
	<div class= "formformatting">
	<%= f.text_field :farm_name, :placeholder => "Farm Name"%><br>
	<%= f.password_field :password, :placeholder => "Password" %><br>
	<%= f.submit "Log in", :id => "session_submit" %>
	</div>
	<% end %>
	<div class="mobileloginfooter">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
