<!doctype html>
<html>
<head>
<%= stylesheet_link_tag 'http://www.agro.com/application.css' %>
	<title>About Us</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<%= link_to image_tag("http://i.imgur.com/ii4SpRt.jpg"), '/index' %>
		</div>
		<% if current_user %>
		<ul>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<li><%= link_to "My Information", '/secure' %></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% else %>
		<ul>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% end %>
	</div>
	<div class="aboutus">
		<h1>About Us</h1>
		<div class="aboutustext">
			<ul>
				<li><a href="ourhistory.html"><h3>Our History</h3></a></li>
				<li><a href="careeropportunities.html"><h3>Career Opportunities</h3></a></li>
				<li><a href="communityrelations.html"><h3>Community Relations</h3></a></li>
			</ul>
		</div>
		<div class="bottomaboutustext">
		<p>At Agro Engineering our goal is to provide quality, comprehensive consulting services to the agricultural community with honesty and integrity, while promoting efficient stewardship of the earth's precious resources. We strive to bring innovative as well as proven technologies to the agricultural community, enhancing its economic stability. We work to provide an enjoyable and challenging professional work environment with flexibility for personal growth and family development while creating a diversified team. We encourage continued active participation in building our community through volunteer activities and other contributions.</p>
		</div>
		<div class="aboutuspic">
			<img src="/agropics/agrotruck.jpg" />
		</div>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
