<!doctype html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="indexstyle.css" />
	<title>Applied Research</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<%= link_to image_tag("http://i.imgur.com/ii4SpRt.jpg"), '/index' %>
		</div>
		<% if current_user %>
		<ul>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<li><%= link_to "My Information", '/secure' %></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% else %>
		<ul>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% end %>
	</div>
	<div class="specificservicestitle">
		<h1>Applied Research</h1>
	</div>
	<div class="specificservicedescription">
		<p>Applied research is essential for testing new products on an applied and on-farm basis and for testing solutions to old problems within an agricultural area. Agro Engineering conducts applied on-farm research to establish optimal fertility, seed varieties and other agricultural management inputs and strategies. Some of this applied research is done on a contractual basis to test new products on crops for their effectiveness and economic return. Recent examples include tests on fungicides, micro nutrient blends, soil fumigants, biological nematode controls, and soil salt dispersing agents.</p>
		<p>Other applied research is conducted by Agro Engineering in order to provide better service to our clients on problems specific to the San Luis Valley. Examples include phosphate rates in pre-plant potato fertilizer bands, humidity in crop canopies, plant fertility analysis through phloem extract, control of pink rot in high risk fields, and fungicide coverage.</p>
	</div>
	<div class="returntoservicesbutton">
		<a href="services.html">Return To All Services</a>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
