<!doctype html>
<html>
<head>
<%= stylesheet_link_tag 'http://www.agro.com/application.css' %>
	<title>Harvest Evaluation and Bruise Testing</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<%= link_to image_tag("http://i.imgur.com/ii4SpRt.jpg"), '/index' %>
		</div>
		<% if current_user %>
		<ul>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<li><%= link_to "My Information", '/secure' %></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% else %>
		<ul>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% end %>
	</div>
	<div class="specificservicestitle">
		<h1>Harvest Evaluation and Bruise Testing</h1>
	</div>
	<div class="specificservicedescription">
		<p>As part of our quality assurance program at harvest, we provide both in-field evaluations and complete-season tracking of bruising. Excessive tuber bruising can lead to more tuber shrink, more problems with diseases such as early tuber blight and fusarium dry rot, and unsightly tubers that are not marketable.
		<p>In this program, we examine the entire harvest operation, from digger to storage. We look at harvesting conditions, drops, chain speeds, and operation of equipment which leads to bruising. We provide a harvester profile which tracks harvester chain speeds and percent-bruising along each step of the harvester, and we provide recommendations for changes in chain speeds and harvest operations to decrease bruising if needed. We also track daily percent-bruise by variety, field, harvester, truck, storage bin, etc.</p>
		<p>In evaluating tuber damage, we look at internal black spot bruising, shatter bruising, and skinning. A black spot bruise is defined as cell wall damage which occurs due to an impact. Shatter bruising is defined as a crack or shatter in the tuber flesh due to an impact.</p>
		<h3>Measurement Methods:</h3>
		<p></p>
		<p>For the evaluation of internal black spot bruising, a 30-pound sample of potatoes is incubated for 24 hours at 90 degrees Fahrenheit, speeding up the aging process of the tuber and making the internal bruises visible. The sample is then peeled and sorted into bruised and unbruised sub-samples and weighed. This provides a percentage of bruised and bruise-free potatoes for each sample. This method tracks harvest performance through the season.</p>
	</div>
	<div class="returntoservicesbutton">
		<a href="services.html">Return To All Services</a>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
