<!doctype html>
<html>
<head>
<%= stylesheet_link_tag 'http://www.agro.com/application.css' %>
	<meta name="google-site-verification" content="WuPoUMJ6NJxgyRJPJxccOIh7vKCZRUFpNAwdcpQZB2Q" />
	<%= javascript_include_tag 'http://vps-1174206-24586.manage.myhosting.com/application.js' %>
	<meta name="keywords" content="agronomy, agricultural, consulting, agricultural consulting, engineering, engineer, agro, crop health, crop care, alfalfa, potatoes, potato, wheat, barley, grain, san luis valley, flow meter, pump, well, sprinkler">
	<title>Agro Engineering Inc.</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<%= link_to image_tag("http://i.imgur.com/ii4SpRt.jpg"), '/index' %>
		</div>
		<% if current_user %>
		<ul>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<li><%= link_to "My Information", '/secure' %></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% else %>
		<ul>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% end %>
	</div>
	<div class="picturetop">
		<div class="picoverlay">
			<div class="subjects">
			<h1>Agro Engineering</h1>
			<h2 id="briefdescrip">Comprehensive Agricultural Engineering</h2>
			<p>We are a company of Irrigation and Agronomic experts. Our summer packages include weekly visits to your field that result in an irrigation schedule for the week, pesticide recommendations, and at least one of our expert's private phone numbers to answer any questions you might have. We have no sales team, so call us at (719)-852-4957 to schedule an in person meeting with the professionals who you will be working with or email our office manager at star@agro.com.</p>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
