<!doctype html>
<html>
<head>
	<meta name="google-site-verification" content="WuPoUMJ6NJxgyRJPJxccOIh7vKCZRUFpNAwdcpQZB2Q" />
	<%= javascript_include_tag 'http://vps-1174206-24586.manage.myhosting.com/application.js' %>
	<meta name="keywords" content="agronomy, agricultural, consulting, agricultural consulting, engineering, engineer, agro, crop health, crop care, alfalfa, potatoes, potato, wheat, barley, grain, san luis valley, flow meter, pump, well, sprinkler">
	<title>Agro Engineering Inc.</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<%= link_to image_tag("http://i.imgur.com/ii4SpRt.jpg"), '/index' %>
		</div>
		<% if current_user %>
		<ul>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<li><%= link_to "My Information", '/secure' %></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% else %>
		<ul>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% end %>
	</div>
	<div class="picturetop">
		<div class="picoverlay">
			<div class="subjects">
			<h1>Agro Engineering</h1>
			<h2 id="informationsubheader">Comprehensive Agricultural Engineering</h2>
			<p id="informationpreheader">The highest quality crop cosultant services in the San Luis Valley.</p>
			<p id="yellowfrontpagelink"><%= link_to "Contact us for aerial photography in 2018.", 'http://agro.com/multispectralaerialimaging.html' %></p>
			<p id="yellowfrontpagelink"><%= link_to "Sample your fields for fertility, pests, and soil health this Spring.", 'http://agro.com/services' %></p>
			</div>
		</div>
	</div>
	<div class="splitbar">
			<ul>
				<li><h1>Grow</h1><p>Better Crops With Our Agronomists</p></li>
				<li><h1>Water</h1><p>More Accurately to Conserve</p></li>
				<li><h1>Design</h1><p>Your Irrigation System for Efficiency</p></li>
			</ul>
	</div>
	<div class="picturemidtop">
		<div class="picoverlay">
			<div class="subjects">
			<h1>Teamwork</h1>
			<h2 id="informationsubheader">Utilizing Experts from Multiple Fields to Provide the Best Service</h2>
			<p id="informationpreheader">Our summer packages provide you a detailed weekly report including irrigation schedules, pesticide recommendations, and field observations from Certified Crop Advisors and Engineers.</p>
			</div>
		</div>
	</div>
	<div class="splitbar">
			<ul>
				<li><h1>Pests</h1><p>Manage Your Crop for Pests and Disease</p></li>
				<li><h1>Fertility</h1><p>Improve Crop Health from the Soil Up</p></li>
	</div>
	<div class="picturebot">
		<div class="picoverlay">
			<div class="subjects">
			<h1>Precision</h1>
			<h2 id="informationsubheader">Using Powerful Tools to Grow Your Operation</h2>
			<p id="informationpreheader">Using the most advanced fertilizer recommendation tools, aerial photography, and sprinkler design methods to ensure our client's success.</p>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
