<!doctype html>
<html>
<head>
	<%= javascript_include_tag 'http://vps-1174206-24586.manage.myhosting.com/application.js' %>
	<meta name="keywords" content="agronomy, agricultural, consulting, agricultural consulting, engineering, engineer, agro, crop health, crop care, alfalfa, potatoes, potato, wheat, barley, grain, san luis valley, flow meter, pump, well, sprinkler">
	<title>Agro Engineering Inc.</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<%= link_to image_tag("http://i.imgur.com/ii4SpRt.jpg"), '/index' %>
		</div>
		<% if current_user %>
		<ul>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<li><%= link_to "My Information", '/secure' %></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% else %>
		<ul>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% end %>
	</div>
	<div class="picturetop">
		<div class="picoverlay">
			<div class="subjects">
			<h1>Agro Engineering</h1>
			<h2 id="informationsubheader">Comprehensive Agricultural Engineering</h2>
			<p id="informationpreheader">Agro Engineering is a small independent company located in the San Luis Valley that consults with local growers to help grow the best crops possible with minimal inputs. Our team is comprised of agronomists and agricultural engineers to handle all of the water, nutrition, and quality concerns that challenge farmers today. With staff both from the San Luis Valley and from beyond Agro Engineering is ready and eager to help you with whatever problems or questions you may have.</p>
			</div>
		</div>
	</div>
	<div class="splitbar">
			<ul>
				<li><h1>Grow</h1><p>Better crops with our agronomists</p></li>
				<li><h1>Water</h1><p>More accurately to conserve</p></li>
				<li><h1>Design</h1><p>Your systems for success</p></li>
			</ul>
	</div>
	<div class="picturemidtop">
		<div class="picoverlay">
			<div class="subjects">
			<h1>Teamwork</h1>
			<h2 id="informationsubheader">Utilizing experts from multiple fields to provide the best service</h2>
			<p id="informationpreheader">We utilize a variety of educations, certifications, and experience to offer a large scope of services. We work year round with a majority of field work done in the summer. Any of our service packages offer weekly visits from planting until harvest on your crops. Whether you are trying a new crop, want an extra set of trained eyes, or are just too busy to get to everything we can help you.</p>
			</div>
		</div>
	</div>
	<div class="splitbar">
			<ul>
				<li><h1>Pests</h1><p>Control disease and pests</p></li>
				<li><h1>Fertility</h1><p>Improve crop health from the soil up</p></li>
	</div>
	<div class="picturebot">
		<div class="picoverlay">
			<div class="subjects">
			<h1>Precision</h1>
			<h2 id="informationsubheader">Using powerful tools to grow your operation</h2>
			<p id="informationpreheader">Agro Engineering focuses on using the most modern technologies and research to incorporate science into agriculture. We offer the most advanced aerial photography program in our area to optimize our clients field productivity. Agro Engineering has the most sophisticated in season fertility and an advanced in-house soil fertility database that is custom built to provide the best fertility reccommendations specific to our region.</p>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
