<!doctype html>
<html>
<head>

	<title>Irrigation Water Management</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<%= link_to image_tag("http://i.imgur.com/ii4SpRt.jpg"), '/index' %>
		</div>
		<% if current_user %>
		<ul>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<li><%= link_to "My Information", '/secure' %></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% else %>
		<ul>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% end %>
	</div>
	<div class="specificservicestitle">
		<h1>Irrigation Water Management</h1>
	</div>
	<div class="specificservicedescription">
		<p>A successful irrigation water management program optimizes water utilization while ensuring the best crop yield and quality at the lowest cost to the producer. Here at Agro Engineering, we assist farmers and water user organizations in developing irrigation scheduling programs to assure proper timing and amounts of water delivery and applications. The programs involve system evaluations for the assessment of crop water needs and recommendations on timing and amount of irrigation throughout the growing season. Links to a local weather station, computer reporting of daily crop water use for each crop, and a weekly field visit to assess the current soil moisture and the crop water needs based upon the crop growth stage. A weekly irrigation schedule is then provided to farm clients, with predicted times and amounts for irrigation and suggested adjustments for variations in weather.</p>
	</div>
	<div class="returntoservicesbutton">
		<a href="services.html">Return To All Services</a>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
