<!doctype html>
<html>
<head>
<%= stylesheet_link_tag 'application' %>
	<title>Jason Lorenz</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<%= link_to image_tag("http://i.imgur.com/ii4SpRt.jpg"), '/index' %>
		</div>
		<% if current_user %>
		<ul>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<li><%= link_to "My Information", '/secure' %></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% else %>
		<ul>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% end %>
	</div>
	<div class="shortbio">
		<img src="/agropics/jason.png" />
		<div class="shortbiostuff">
		<h1>Jason Lorenz</h1>
		<p>Jason Lorenz' responsibilities at Agro Engineering include irrigation system testing and design and irrigation water management. Jason is responsible for recharge design and management and supervises the construction and daily water management for a recharge system in place for one of our clients. He is the team leader for Agro Engineering's potato bruise testing and harvester evaluation programs and developed the hot box method of evaluation of potato bruises for us. Jason also participates in the remote sensing and satellite imagery program at Agro Engineering.</p>
		<p>As a graduate student, Jason was a teaching assistant for power and machinery and irrigation courses. For his thesis, he worked on an irrigation and fertilizer scheduling program call CropFlex, focusing on a midseason fertilizer consultation for corn and a daily leaching consultation.</p>
		<a href="ourstaff.html">Back to our staff</a>
		</div>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
