<!doctype html>
<html>
<head>
<%= stylesheet_link_tag 'application' %>
	<title>Michael Curtis</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<%= link_to image_tag("http://i.imgur.com/ii4SpRt.jpg"), '/index' %>
		</div>
		<% if current_user %>
		<ul>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<li><%= link_to "My Information", '/secure' %></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% else %>
		<ul>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% end %>
	</div>
	<div class="shortbio">
		<img src="http://i.imgur.com/L4LFJPn.jpg?1" />
		<div class="shortbiostuff">
		<h1>Michael Curtis</h1>
		<p>Michael's responsibilities at Agro Engineering include irrigation water management, irrigation system testing and design, engineering analysis for water rights changes, flow meter certification, and weather station implementation and maintenance.</p>
		<p>Previous to full time employment at Agro Engineering, Michael worked as a design engineer at Aqua Engineering in Fort Collins, CO where he specialized in large-scale landscape irrigation system design, golf course irrigation system design, design of pressurized water distribution systems, canal modernization projects (NRCS), and agricultural irrigation system planning and design.</p>
		<p>Michael, a native of the San Luis Valley, lives here with his wife, Jordan and 2 daughters, Reagan and Sydney. The Curtis family enjoys taking advantage of all the area's outdoor recreation as well as being part of the Valley's agricultural community.</p>
		<a href="ourstaff.html">Back to our staff</a>
		</div>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
