<!doctype html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="indexstyle.css" />
	<title>History</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<%= link_to image_tag("http://i.imgur.com/ii4SpRt.jpg"), '/index' %>
		</div>
		<% if current_user %>
		<ul>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<li><%= link_to "My Information", '/secure' %></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% else %>
		<ul>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% end %>
	</div>
	<div class="specificservicestitle">
		<h1>History</h1>
	</div>
	<div class="specificservicedescription">
		<p>Since 1982, Agro Engineering has specialized in the transfer of sustainable agricultural and water resource technologies through its consulting services and training programs. Our interdisciplinary team of engineers, agronomists, entomologists and other experts provides a systems approach to analyzing and developing solutions to agricultural and water resource problems. We provide agronomic and water management services for 40,000 to 50,000 acres of cropland in Colorado's San Luis Valley each year.</p>
		<p>Our office is located between Alamosa and Monte Vista, Colorado. We employ 10 full-time professional and 10 seasonal staff members who work almost exclusively in the San Luis Valley. Agro Engineering and our staff of engineers and agronomists are considered leading experts on plant nutrition, integrated pest management, crop water requirements and other irrigation and water resources issues in the upper Rio Grande River basin.</p>
	</div>
	<div class="returntoservicesbutton">
		<a href="aboutus.html">Return To About Us</a>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
