<!doctype html>
<html>
<head>
<%= stylesheet_link_tag 'http://www.agro.com/application.css' %>
	<title>Our Staff</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<%= link_to image_tag("http://i.imgur.com/ii4SpRt.jpg"), '/index' %>
		</div>
		<% if current_user %>
		<ul>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<li><%= link_to "My Information", '/secure' %></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% else %>
		<ul>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% end %>
	</div>
	<div class="ourstaffheader">
		<h1>Our Staff</h1>
			<div class="twopersoncontainer">
			<div class="photo1"><a href="steven.html">
				<img src="/agropics/steven.png" />
				<div class="photoinfo1">
					<h2>Steven McKechnie</h1>
					<p>B.S. Plant Biology</p>
					<p>M.S. Ag</p>
					<p>Certified Crop Advisor</p>
				</div>
			</a>
			</div>
			<div class="photo2"><a href="bill.html">
				<img src="/agropics/bill.png" />
				<div class="photoinfo2">
					<h2>Bill Crowder</h1>
					<p>B.S. Soil and Crop Sciences,</p>
					<p>Certified Crop Advisor</p>
					<p>Colorado State University</p>
				</div>
			</a>
			</div>
			</div>
			<div class="twopersoncontainer">
			<div class="photo1"><a href="star.html">
				<img src="/agropics/star.jpg" />
				<div class="photoinfo1">
					<h2>Star Quintana</h1>
					<p>Office Manager, Customer</p>
					<p>Service, and Team Coordination</p>
				</div>
			</a>
			</div>
			<div class="photo2"><a href="tess.html">
				<img src="/agropics/tess.JPG" />
				<div class="photoinfo2">
					<h2>Tess Christensen</h1>
					<p>B.S. Soil and Crop Science, CCA</p>
					<p>Colorado State University</p>
				</div>
			</a>
			</div>
			</div>
			<div class="twopersoncontainer">
			<div class="photo1"><a href="kirk.html">
				<img src="/agropics/kirk.jpg" />
				<div class="photoinfo1">
					<h2>Kirk Thompson</h1>
					<p>M.S. Agricultural Engineering,</p>
					<p>B.S. Agricultural Engineering</p>
					<p>CCA, P.E.</p>
					<p>Colorado State University</p>
				</div>
			</a>
			</div>
			<div class="photo2"><a href="keri.html">
				<img src="/agropics/keri.jpg" />
				<div class="photoinfo2">
					<h2>Keri Rogers</h1>
					<p>B.S. Soil and Crop Sciences</p>
					<p>B.S. Agricultural Business</p>
					<p>Colorado State University</p>
				</div>
			</a>
			</div>
			</div>
			<div class="twopersoncontainer">
			<div class="photo1"><a href="colten.html">
				<img src="/agropics/colten.png" />
				<div class="photoinfo1">
					<h2>Colten Batey</h1>
					<p>B.S. Biological & Agricultural</p>
					<p>Engineering,</p>
					<p>Texas A&M</p>
				</div>
			</a>
			</div>
			<div class="photo2"><a href="jason.html">
				<img src="/agropics/jason.jpg" />
				<div class="photoinfo2">
					<h2>Jason Lorenz</h1>
					<p>B.S. in Agricultural Engineering</p>
					<p>M.S. in Agricultural Engineering</p>
					<p>P.E.</p>
					<p>Colorado State University</p>
				</div>
			</a>
			</div>
			</div>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
