<!doctype html>
<html>
<head>
<%= stylesheet_link_tag 'http://www.agro.com/application.css' %>
	<title>Resources</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<%= link_to image_tag("http://i.imgur.com/ii4SpRt.jpg"), '/index' %>
		</div>
		<% if current_user %>
		<ul>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<li><%= link_to "My Information", '/secure' %></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% else %>
		<ul>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% end %>
	</div>
	<div class="resourcelinks">
		<h3>Agro Newsletters</h3>
			<ul>
				<li><a href="http://www.agro.com/News/Feb_16.pdf">February 2016</a></li>
				<li><a href="http://www.agro.com/News/Fall_2015.pdf">Fall 2015 Newsletter</a></li>
				<li><a href="http://www.agro.com/News/Feb_15.pdf">February 2015</a></li>
			</ul>
	</div>
	<div class="resourcelinks">
		<h3>Extension Center and University Links</h3>
		<ul>
			<li><a href="http://www.colostate.edu/">Colorado State University</a></li>
			<li><a href="http://www.colostate.edu/Depts/SLVRC">CSU San Luis Valley Research Center</a></li>
			<li><a href="http://www.ksre.k-state.edu/agriculture/">Kansas State Extensions</a></li>
			<li><a href="http://extension.wsu.edu/learn/">Washington State University Extensions</a></li>
			<li><a href="https://www.ag.ndsu.edu/extension">NDSU Extension Services</a></li>
		</ul>
	</div>
	<div class="resourcelinks">
		<h3>Water Resource Links</h3>
		<ul>
			<li><a href="http://www.nrcs.usda.gov/wps/portal/nrcs/site/co/home/">NRCS Home</a></li>
			<li><a href="http://www.rgwcd.org/page3.html">Rio Grande Water Conservation District</a></li>
			<li><a href="http://www.nws.noaa.gov/view/states.php?state=co&map=on">NOAA Colorado Map</a></li>
		</ul>
	</div>
	<div class="resourcelinks">
		<h3>Potato Industry Links</h3>
		<ul>
			<li><a href="https://www.coloradopotato.org/">Colorado Potato Administrative Committee</a></li>
			<li><a href="http://www.coloradocertifiedpotatogrowers.com/">Colorado Certified Potato Growers Association</a></li>
			<li><a href="http://www.nationalpotatocouncil.org/">National Potato Council</a></li>
			<li><a href="http://www.uspotatoes.com/">National Potato Promotion Board</a></li>
			<li><a href="http://www.potatocongress.org/">The World Potato Congress</a></li>
			<li><a href="http://www.potatonews.com/">Global Potato News</a></li>
			<li><a href="http://www.potatogrower.com/">Potato Grower</a></li>
			<li><a href="http://spudman.com/">Spudman</a></li>
		</ul>
	</div>
	<div class="resourcelinks">
		<h3>Government Agencies</h3>
		<ul>
			<li><a href="http://www.usda.gov/wps/portal/usda/usdahome">U.S. Department of Agriculture</a></li>
			<li><a href="http://www.fsa.usda.gov/">U.S. Department of Agriculture-FSA</a></li>
			<li><a href="http://www.fda.gov/">U.S. Food and Drug Administration</a></li>
			<li><a href="https://www3.epa.gov/">U.S. Environmental Protection Agency</a></li>
			<li><a href="http://www.nal.usda.gov/">National Agricultural Library</a></li>
			<li><a href="https://www.colorado.gov/">State of Colorado</a></li>
		</ul>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
