<!doctype html>
<html>
<head>
<%= stylesheet_link_tag 'application' %>
	<title>Services</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<%= link_to image_tag("http://i.imgur.com/ii4SpRt.jpg"), '/index' %>
		</div>
		<% if current_user %>
		<ul>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<li><%= link_to "My Information", '/secure' %></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% else %>
		<ul>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% end %>
	</div>
	<div class="servicestitle">
		<h1>Services</h1>
	</div>
	<div class="servicesgrid">
			<div class="iwm"><a href="irrigationwatermanagement.html"><h3>Irrigation Water Management</h3></a></div>
			<div class="irrigationdesign"><a href="irrigationdesignandtesting.html"><h3>Irrigation Design and Testing</h3></a></div>
			<div class="ipm"><a href="intergratedpestanddiseasemanagement.html"><h3>Integrated Pest and Disease Management</h3></a></div>
			<div class="flowmetercert"><a href="flowmetercertification.html"><h3>Flow Meter Certification</h3></a></div>
			<div class="planttissue"><a href="planttissueanalysis.html"><h3>Plant Tissue Analysis</h3></a></div>
			<div class="soilfertility"><a href="soilfertilityandrecommendations.html"><h3>Soil Fertility and Recommendations</h3></a></div>
			<div class="training"><a href="training.html"><h3>Training</h3></a></div>
			<div class="waterrights"><a href="waterrightsanalysis.html"><h3>Water Rights Analysis</h3></a></div>
			<div class="harvestevaluation"><a href="harvestevaluationandbruisetesting.html"><h3>Harvester Evaluation and Bruise Testing</h3></a></div>
			<div class="aerial"><a href="multispectralaerialimaging.html"><h3>Multispectral Aerial Photography</h3></a></div>
			<div class="appliedresearch"><a href="appliedresearch.html"><h3>Applied Research</h3></a></div>
			<div class="storageevaluation"><a href="storageevaluationandmonitoring.html"><h3>Storage Evaluation and Monitoring</h3></a></div>
			<div class='remotesensing'><a href="remotesensing.html"><h3>Remote Sensing, Satellite Imagery, and GIS</h3></a></div>
			<div class='specialprojects'><a href="specialprojects.html"><h3>Special Projects</h3></a></div>
			<div class='storageconsulting'><a href="storageconsulting.html"><h3>Storage Consulting</h3></a></div>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
