<!doctype html>
<html>
<head>
<%= stylesheet_link_tag 'application' %>
	<title>Services</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<%= link_to image_tag("http://i.imgur.com/ii4SpRt.jpg"), '/index' %>
		</div>
		<% if current_user %>
		<ul>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<li><%= link_to "My Information", '/secure' %></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% else %>
		<ul>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% end %>
	</div>
	<div class="servicestitle">
		<h1>Services</h1>
	</div>
	<div class="servicesgrid">
			<a href="irrigationwatermanagement.html"><div class="iwm"><h3>Irrigation Water Management</h3></div></a>
			<a href="irrigationdesignandtesting.html"><div class="irrigationdesign"><h3>Irrigation Design and Testing</h3></div></a>
			<a href="intergratedpestanddiseasemanagement.html"><div class="ipm"><h3>Integrated Pest and Disease Management</h3></div></a>
			<a href="flowmetercertification.html"><div class="flowmetercert"><h3>Flow Meter Certification</h3></div></a>
			<a href="planttissueanalysis.html"><div class="planttissue"><h3>Plant Tissue Analysis</h3></div></a>
			<a href="soilfertilityandrecommendations.html"><div class="soilfertility"><h3>Soil Fertility and Recommendations</h3></div></a>
			<a href="training.html"><div class="training"><h3>Training</h3></div></a>
			<a href="waterrightsanalysis.html"><div class="waterrights"><h3>Water Rights Analysis</h3></div></a>
			<a href="harvestevaluationandbruisetesting.html"><div class="harvestevaluation"><h3>Harvester Evaluation and Bruise Testing</h3></div></a>
			<a href="multispectralaerialimaging.html"><div class="aerial"><h3>Multispectral Aerial Photography</h3></div></a>
			<a href="appliedresearch.html"><div class="appliedresearch"><h3>Applied Research</h3></div></a>
			<a href="storageevaluationandmonitoring.html"><div class="storageevaluation"><h3>Storage Evaluation and Monitoring</h3></div></a>
			<a href="remotesensing.html"><div class='remotesensing'><h3>Remote Sensing, Satellite Imagery, and GIS</h3></div></a>
			<a href="specialprojects.html"><div class='specialprojects'><h3>Special Projects</h3></div></a>
			<a href="storageconsulting.html"><div class='storageconsulting'><h3>Storage Consulting</h3></div></a>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
