<!doctype html>
<html>
<head>
<%= stylesheet_link_tag 'http://www.agro.com/application.css' %>
	<title>Soil Fertility</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<%= link_to image_tag("http://i.imgur.com/ii4SpRt.jpg"), '/index' %>
		</div>
		<% if current_user %>
		<ul>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<li><%= link_to "My Information", '/secure' %></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% else %>
		<ul>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% end %>
	</div>
	<div class="specificservicestitle">
		<h1>Soil Fertility and Recommendations</h1>
	</div>
	<div class="specificservicedescription">
		<p>	Agro Engineering conducts soil surveys, land classification and soil fertility assessments. Fertility management recommendations are based on results of soil analysis, soil fertility history, cropping history, irrigation water constituents, proposed crops and realistic yield goals to result in the best crop yield and quality at the lowest cost to the producer.</p>
		<h2>Our Soil Fertility Services</h2>
		<p>Agro Engineering offers a couple of different soil fertility options, but we're also open to any ideas that you may have. Conventionally we have offered composite full field samples and zone fertility samples.<br><br>Our composite sampling procedure follows the standard protocol of gathering 30 cores from across the field and blending the soils before sending it to our preferred lab. If there is a specific lab you would like your soil samples to be sent to, please let us know and we will contact and coordinate with them.<br><br> If you are a client that has used us for our aerial photography program we will georeference your aerials over your field using ARCMAP. Then we will consult with you to ensure that the zones we've created with your aerials and the soil map for your fields are correct. Using GPS technology we will then sample your fields in their precise zones to ensure the best fertility recommendations can be made. A soil fertility recommendation will then be made for each zone, keeping in mind the consideration of crop type and planter banding limitations.</p>
		<p>Below is a picture of a zone sample created with grain harvest data. Bring us your yield monitoring data to see how we can do this for you.</p>
		<div class="zonepic">
			<img src="/agropics/zonesbyharvestyield.jpg" />
		</div>
		<p>If you have alternate ideas for fertility sampling, such as grid sampling or a custom method, we'd be happy to work with you to make it happen.</p>
		<h2>Our Technology</h2>
		<p>Fertility recommendations are created using a custom built fertility database that uses modern logic to calculate fertility recommendations. We consider all aspects of the soil fertility, and are at the forefront for macro and micronutrient fertility recommendations in the San Luis Valley. We currently have employed Neal Kinsey's approach to balancing a number of factors in your soil and not just focusing on minimum thresholds. We also have conducted internal research, and research with others that allow us to better understand the nuances of soil fertility.We have long been interested in soil health, and are experts in the field of soil remediation. While soil remediation can be a long process it also is very rewarding and profitable in the long run. Achieveing a balance of different elements to emulate the most productive soils found in nature will provide you with the best crop your land can produce.</p>
	</div>
	<div class="returntoservicesbutton">
		<a href="services.html">Return To All Services</a>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
