<!doctype html>
<html>
<head>
<%= stylesheet_link_tag 'application' %>
	<title>Storage Evaluation and Monitoring</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<%= link_to image_tag("http://i.imgur.com/ii4SpRt.jpg"), '/index' %>
		</div>
		<% if current_user %>
		<ul>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<li><%= link_to "My Information", '/secure' %></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% else %>
		<ul>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% end %>
	</div>
	<div class="specificservicestitle">
		<h1>Storage Evaluation and Monitoring</h1>
	</div>
	<div class="specificservicedescription">
	<p>Proper storage of perishable agricultural crops is essential for optimizing profitability. Agro Engineering has had a program of monitoring and evaluating storage facilities for a number of years, and we continue to invest in the newest technology to ensure the best storage monitoring service in the valley. Unlike other storage monitoring services we capture thermal images of your storage to show you any problems in a way that you can see as well as we can. We are the only service to regularly check CO2 levels in storage as well to avoid potatoes cutting black in the spring. We offer weekly or daily checks to allow you to take the winter and enjoy some time off.</p>
	<h3>Storage Evaluation and Monitoring</h3>
	<ul>
		<li>Temperature distribution of pile measured with an Thermal Camera</li>
		<li>Relative humidity measured with a psychrometer</li>
		<li>Airflow through ducts and plenum measured and adjusted</li>
		<li>Recommendations for storage improvement and disease control and prevention</li>
		<li>Evaluation includes detailed assessment of design, construction, current condition and/or operation</li>
	</ul>
	<h3>Monitoring of Storage During Cool Down Period</h3>
	<p>Monitoring includes weekly visits once potatoes start going into storage. We monitor potato quality and recommend storage stabilization phase temperatures as bins are filled. We will measure the airflow to each bin, estimate the cwt. per bin to calculate the CFM per cwt. per bin and storage, measure the relative humidity in the storage and plenum, determine the pile gradient between top and bottom pile temperatures, and give recommendations on plenum set point temperature during the cool down and holding periods. Recommendation on run times and holding temperatures for the holding period will be given as the potatoes are brought to holding.</p>
	<h3>Monitoring of Storage During Holding Period</h3>
	<p>During this storage period we would visit the storage once a month during the months of December, January, February, and March. We will measure the relative humidity in the storage and plenum, determine the pile gradient between top and bottom pile temperatures, give recommendations on plenum set point temperature, and give recommendations on run times for potato pile temperatures and weather conditions for the month. During each visit we do a complete infrared scan of the potato pile surface for each bin in the storage to monitor hot spot if they develop.</p>
	<h3>Storage Management of Potatoes</h3>
	<p>Proper temperature, airflow, and humidity management of the tuber pile is essential for disease and shrink management. The guidelines for these three factors change during the four stages of potato storage management - removal of field heat, suberization, cool down, and holding period. Problems with pile airflow can lead to blackheart, pressure bruises, and shrink. Humidity problems can lead to increased disease problems, shrink, and weak seed. Problems with temperature can lead to sprouting, shrink, physiological aging, dormant seed, and disease problems. Maintaining a small temperature pile gradient from the bottom to the top of the pile is essential in potato storage management. Shrink, one of the common results of poor potato storage management, can be very costly. The cost of 1 percent shrink for an average center pivot potato field would be 5000 cwt. or, at an average $4.00/cwt. price, it would be $20,000 per circle. Improvements in storage management can easily save 1-2 percent shrinkage. Potato storage management is affected by the quality of the potatoes going into storage.</p>
	</div>
	<div class="returntoservicesbutton">
		<a href="services.html">Return To All Services</a>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
