<!doctype html>
<html>
<head>
<%= stylesheet_link_tag 'http://www.agro.com/application.css' %>
	<title>Weather</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<%= link_to image_tag("http://i.imgur.com/ii4SpRt.jpg"), '/index' %>
		</div>
		<% if current_user %>
		<ul>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<li><%= link_to "My Information", '/secure' %></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% else %>
		<ul>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% end %>
	</div>
	<div class"weatherbody">
	<div class="linkstoweatherpages">
		<ul>
			<li><a href="weathercurrent.html">Current Weather</a></li>
			<li><a href="weatherpastweek.html">Daily Data for Past Week</a></li>
			<li><a href="weatherstations.html">Station Locations</a></li>
			<li><a href="weather.html">Weather Home</a></li>
		</ul>
	</div>
	<div class="weatherinfo">
		<h1>Weather@agro.com</h1>
		<p>Agro Engineering manages a network of weather stations in the San Luis Valley of Colorado. Currently hourly data, daily data for the past week, and data text files can be viewed using the links above.</p>
		<p>Agro Engineering also produces crop evapotranspiration (ET) data specific to client fields throughout the San Luis Valley. Realtime ET data is no longer publically available here. This data can be accessed if IWM services are provided or for a small additional fee.</p>
		<h3>Other Weather Links:</h3>
		<ul>
			<li><a href="http://graphical.weather.gov/sectors/centrockies.php">NOAA Graphical Forecast for Colorado</a></li>
			<li><a href="http://weather.rap.ucar.edu/satellite/">Satellite Images</a></li>
			<li><a href="http://aviationweather.gov/adds/satellite/displaySat.php?region=DEN&isingle=multiple&itype=vis">Visible Satellite Image in Motion</a></li>
			<li><a href="http://aviationweather.gov/adds/satellite/displaySat.php?region=DEN&isingle=multiple&itype=ir">Infrared Satellite Image in Motion</a></li>
			<li><a href="http://weather.rap.ucar.edu/model/">Weather Forecast Models</a></li>
			<li><a href="http://forecast.weather.gov/MapClick.php?lat=37.47392497635764&lon=-105.87382983777604">Alamosa Forecast</a></li>
			<li><a href="https://weather.com/maps/currentusweather">US Forecast</a></li>
		</ul>
	</div>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
