<!doctype html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="indexstyle.css" />
	<title>"#{@farm_login}"</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<a href="index.html"><img src="http://i.imgur.com/ii4SpRt.jpg" /></a>
		</div>
		<% if current_user %>
		<ul>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<li><%= link_to "My Information", '/secure' %></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% else %>
		<ul>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% end %>
	</div>
	<div class = "linkandmessagearea">
	<div class= "informationlinkstyle">
	<h3>Information</h3>
	<h4>Aerials and other jpgs.</h4>
	<ul>
	<% Dir.glob("public/alphahay/*.jpg").each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	</ul>
	<h4>ET Data, Petioles, and other PDFs</h4>
	<ul>
	<% Dir.glob("public/alphahay/*.pdf").each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	</ul>
	<h4>Everything</h4>
	<ul>
	<% Dir.glob("public/alphahay/*").each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	</ul>
	</div>

	<div class= "messagearea">
 	<p class= "newnotelink"><%= link_to "Write a note", 'messages/new' %></p>
	<% @messages.each do |message| %> 
		<% if message.grower == "#{@farm_login}" %>
		<div class= "messagearealoop">
  		<p><%= message.content %><br><%= "--"+message.author %><br><%= message.created_at %></p>
		</div>
		<% else%>
		<%= "" %>
		<% end %>
	<% end %>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
