<!doctype html>
<html>
<head>

	<title>"#{@farm_login}"</title>
</head>
<body>
	<div class="pagetop">
		<div class="pagetop_pic">
			<%= link_to image_tag("http://i.imgur.com/ii4SpRt.jpg"), '/index' %>
		</div>
		<% if current_user %>
		<ul>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li>
			<li><%= link_to "My Information", '/secure' %></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% else %>
		<ul>
			<li><a href="clientlogin.html">Client Login</a></li>
			<li><%= link_to "Home", '/index' %></li>
			<li><%= link_to "Contact Us", '/contactus' %></li>
			<li><%= link_to "About Us", '/aboutus' %></li>
			<li><%= link_to "Services", '/services' %></li>
			<li><%= link_to "Our Staff", '/ourstaff' %></li>
			<li><%= link_to "Weather", '/weather' %></li>
			<li><%= link_to "Resources", '/Resources' %></li>
			<li><%= link_to "IPM Links", '/ipmlinks' %></li>
		</ul>
		<% end %>
	</div>
	<% @farm_id = request.fullpath %>
	<% @farm_id[0..11] = '' %>
	<div id = "farm_header"><%= "#{@farm_id}" %></div>
	<div class = "linkandmessagearea">
	<div class= "informationlinkstyle">
	<h1 id = "informationheader">Information</h1>
	<h2 id = "informationheader">Irrigation and ET Data</h2>
	<h3 id = "informationsubheader">Crop Water Use Summary</h3>
	<ul>
	<% Dir.glob("app/public/#{@farm_id}/CropWaterUseSummary*").each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	</ul>
	<h3 id = "informationsubheader">Weekly Irrigation Schedule</h3>
	<ul>
	<% Dir.glob("app/public/#{@farm_id}/sched*").sort.each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	</ul>
	<h3 id = "informationsubheader">Irrigation Summary</h3>
	<ul>
	<% Dir.glob("app/public/#{@farm_id}/sum*").sort.each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	</ul>
	<h2 id = "informationheader">Crop and Soil Fertility</h2>
	<h3 id = "informationsubheader">Petioles</h3>
	<ul>
	<% Dir.glob("app/public/#{@farm_id}/*Anp.pdf").sort.each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	</ul>
	<ul>
	<% Dir.glob("app/public/#{@farm_id}/*micro.pdf").sort.each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	</ul>
	<h3 id = "informationsubheader">Fertility Recommendation</h3>
	<ul>
	<% Dir.glob("app/public/#{@farm_id}/*FertRecommendation.pdf").sort.each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	</ul>
	<ul>
	<% Dir.glob("app/public/#{@farm_id}/*FarmSummary.pdf").sort.each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	</ul>
	<ul>
	<% Dir.glob("app/public/#{@farm_id}/*FertilizerMaterials*").sort.each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	</ul>
	<h2 id = "informationheader">Aerials</h2>
	<h3 id = "informationsubheader">Crop Health</h3>
	<ul>
	<% Dir.glob("app/public/#{@farm_id}/CHI*").sort.each do |f| %>
	<li><%= <img src="#{f}" style="width:304px;height:228px;"> %></li>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	</ul>
	<h3 id = "informationsubheader">Infrareds</h3>
	<ul>
	<% Dir.glob("app/public/#{@farm_id}/FCIR*").sort.each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	</ul>
	<h2 id = "informationheader">Irrigation System Design</h2>
	<h3 id = "informationsubheader">Percent Charts</h3>
	<ul>
	<% Dir.glob("app/public/#{@farm_id}/Pchart*").sort.each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	<% Dir.glob("app/public/#{@farm_id}/pchart*").sort.each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	</ul>
	<h3 id = "informationsubheader">Nozzle Charts</h3>
	<ul>
	<% Dir.glob("app/public/#{@farm_id}/Nozzle*").sort.each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	<% Dir.glob("app/public/#{@farm_id}/nozzle*").sort.each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	</ul>
	<h3 id = "informationsubheader">Engineering</h3>
	<ul>
	<% Dir.glob("app/public/#{@farm_id}/Engi*").sort.each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	<% Dir.glob("app/public/#{@farm_id}/engi*").sort.each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	</ul>
	<h2 id = "informationheader">Field Notes</h2>
	<ul>
	<% Dir.glob("app/public/#{@farm_id}/Note*").sort.each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	<% Dir.glob("app/public/#{@farm_id}/note*").sort.each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	</ul>
	<h2 id = "informationheader">Chemical Recommendations</h2>
	<ul>
	<% Dir.glob("app/public/#{@farm_id}/Rec*").sort.each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	<% Dir.glob("app/public/#{@farm_id}/rec*").sort.each do |f| %>
	<li><%= link_to "#{f}", f[/\/.*/] %></li>
	<% end %>
	</ul>
	</div>
	<iframe src="https://calendar.google.com/calendar/embed?src=8vfg9k1q9vgkpmth8r18sojpg0%40group.calendar.google.com&ctz=America/Denver" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

	<div class= "messagearea">
 	<p class= "newnotelink"><%= link_to "Write a note", '/messages/new' %></p>
	<h2 id = "informationheader">Notes</h2>
	<% message_limit = 1 %>
	<% @messages.each do |f| %> 
			<% if (f.grower == "#{@farm_id}" || f.grower == "allgrowers") && message_limit <10 %>
			<div class= "messagearealoop">
  			<p><%= f.content %><br>
			<span id = "message_author"><%= "--"+f.author %></span><br>
			<span id = "message_create_time"><%= f.created_at %></span>
			</p>
			</div>
			<% message_limit += 1 %>
			<% else%>
			<%= "" %>
			<% end %>
	<% end %>
	</div>
	<div class="footer">
		<div class="container_footer">
			<div>
				<ul>
					<p> Copyright Agro Engineering Inc. 2016</p>
				</ul>
			</div>
		</div>
	</div>
</body>
